<div class="container">
   <h1>Upload the spread sheet below</h1>
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/upload_new_button.css') }}"/>
   <form action = "http://172.31.1.232:80/uploader" method = "POST" enctype = "multipart/form-data">
      <div class="container">
         <input type = "file" name = "file" accept=".xlsx, .xls, .csv"/>
         <button type="submit">Submit</button>
      </div>
   </form>

</div